nav{
	background-color: #333;
	overflow: hidden;
	margin-top: 0px;
	top: 0px;
	left: 0px;
}
nav a{
	float: left;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover{
	background-color: #b0c4de;
	color: black;
}
.menu{
	position: relative;
	display: none;
	float: right;
}
#check{
	display: none;
	float: right;
	position: relative;
    right: -29px;
    height: 26px;
    width: 22px;
    top: 2px;
    z-index: 2;
}
.ham{
	width: 30px;
	height: 4px;
	background-color: white;
	margin: 5px 0;
}
h1{
	text-align: center;
	top: 50%;
	left: 40%;
	color: black;
	font-size: 50px;
	text-shadow: 2px 2px white;
	animation-name: h1;
	animation-duration:3s;
	animation-delay: 0s;
	animation-iteration-count: 2;
}
@keyframes h1{
	30%{
		letter-spacing: 15px;
	}
}
.image{
	background: url("girl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	padding: 30px;
}
body{
	background-color: #d3d3d3;
}
footer{
	text-align: center;
	font-size: 40px;
	text-shadow:2px 1px black;
}
h2{
	font-size: 50px;
	text-shadow: 2px 2px black;
	text-align: center;
}
input[type="text"]{
	width: 50%;
	padding: 12px 20px;
	margin: 8px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit]{
	width: 50%;
	background-color: #40E0D0;
	padding: 14px 20px;
	color: white;
	margin: 10px;
}
input[type=submit]:hover{
	background-color: #00CED1;
}
fieldset{
	text-align: center;
}
.place-holder{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 50px;
	padding: 10px;
	height: auto;
}
.blank{
	height: 200px;
	width: 400px;
}
.cv{
	display: grid;
	grid-template-columns: 300px auto;
	grid-gap: 0px;
	padding: 10px;
	height: 700px;
	background-color: grey;
}
.left{
	background: purple;
	padding: 40px;
}
.right{
	background: white;
	padding: 40px;
}
.myself{
	height: 150px;
	width: 170px;
	border-radius: 70px;
}
h3{
	font-size: 25px;
	color: white;
	text-transform: uppercase;
}
h5{
	font-size: 60px;
	text-shadow: 2px 2px black;
	text-align: center;
}
h6{
	font-size: 20px;
	text-decoration: underline;
}
@media screen and (max-width:600px){
	.menu{
		display: block;
	}
	#navbar{
		transform-origin: 0% 0%;
		transform: translate(101% ,0);
		transition: transform 0s;
	}
	#bar input:checked~#navbar{
		transition-duration: 1s;
		transform: none;
	}
	.place-holder{
		grid-template-columns: auto;
	}
	.blank{
	height: 100%;
	width: 100%;
    }
    .cv{
    	grid-template-columns: auto;
    }
    #check{
    	display: block;
    	opacity: 0;
    }
}


